In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
notas = pd.Series([2,7,5,10,6])

In [5]:
notas.values
notas.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
notas = pd.Series([2,7,5,10,6], index=["Alfredo","Maria","Joana","Daniel","Sandra"])
notas

Alfredo     2
Maria       7
Joana       5
Daniel     10
Sandra      6
dtype: int64

In [11]:
#referenciando um determinado valor
notas["Maria"]

7

In [14]:
notas.describe()

count     5.000000
mean      6.000000
std       2.915476
min       2.000000
25%       5.000000
50%       6.000000
75%       7.000000
max      10.000000
dtype: float64

In [15]:
print("Média:", notas.mean())

Média: 6.0

In [16]:
print("Desvio padrão:", notas.std())

Desvio padrão: 2.9154759474226504

In [17]:
notas**2

Alfredo      4
Maria       49
Joana       25
Daniel     100
Sandra      36
dtype: int64

In [19]:
df = pd.DataFrame({ "Alunos " : ["Alfredo","Maria","Joana","Daniel","Sandra"], "Faltas" : [3,4,2,1,4], "Prova" : [2,7,5,10,6], "Seminário" : [8.5,7.5,9.0,7.5,8.0]})
df

   Alunos   Faltas  Prova  Seminário
0  Alfredo       3      2        8.5
1    Maria       4      7        7.5
2    Joana       2      5        9.0
3   Daniel       1     10        7.5
4   Sandra       4      6        8.0

In [20]:
df.dtypes

Alunos        object
Faltas         int64
Prova          int64
Seminário    float64
dtype: object

In [21]:
#acessar a lista de colunas de forma bem intuitiva:
df.columns

Index(['Alunos ', 'Faltas', 'Prova', 'Seminário'], dtype='object')

In [22]:
#nomes das colunas podem ser usadas pra acessar seus valor
df['Seminário']

0    8.5
1    7.5
2    9.0
3    7.5
4    8.0
Name: Seminário, dtype: float64

In [23]:
df.sort_values(by="Prova")

   Alunos   Faltas  Prova  Seminário
0  Alfredo       3      2        8.5
2    Joana       2      5        9.0
4   Sandra       4      6        8.0
1    Maria       4      7        7.5
3   Daniel       1     10        7.5