In [1]:
import pandas as pd

In [4]:
dt = pd.DataFrame([['Atendimento excelente, chega de coisa ruim no mercado','positivo'],
		            ['Gostei muito do atendimento, estão de parabéns!!, recomendo muito!','positivo'],
		            ['É uma pena não ter estacionamento, isso prejudica demais!','negativo'],
		            ['Achei que tinha estacionamento, isso quebrou minhas pernas','negativo'],
		            ['Achei o preço salgado!','negativo'],
                    ['Comida muito boa, preço bom!!' , 'positivo'],
                    ['Preço bom e lugar aconchegante.','positivo']], columns=['review','sentimento'])

In [5]:
def word_count(review, word):
	cont = 0
	review = review.lower()
	if word in review.lower():
	   return review.count(word)
	else:
	   return 0

In [8]:
soma = lambda x,y: x+y
#print(soma(1,2))

In [9]:
dt['atendimento'] = dt['review'].apply(lambda x: word_count(x, 'atendimento'))
dt['estacionamento'] = dt['review'].apply(lambda x: word_count(x, 'estacionamento'))
dt['preço'] = dt['review'].apply(lambda x: word_count(x, 'preço'))
dt['comida'] = dt['review'].apply(lambda x: word_count(x, 'comida'))
print(dt)

                                              review sentimento  atendimento  \
0  Atendimento excelente, chega de coisa ruim no ...   positivo            1
1  Gostei muito do atendimento, estão de parabéns...   positivo            1
2  É uma pena não ter estacionamento, isso prejud...   negativo            0
3  Achei que tinha estacionamento, isso quebrou m...   negativo            0
4                             Achei o preço salgado!   negativo            0
5                      Comida muito boa, preço bom!!   positivo            0
6                    Preço bom e lugar aconchegante.   positivo            0

   estacionamento  preço  comida
0               0      0       0
1               0      0       0
2               1      0       0
3               1      0       0
4               0      1       0
5               0      1       1
6               0      1       0

In [10]:
dt.groupby(['sentimento'])[dt.columns].agg('sum')

            atendimento  estacionamento  preço  comida
sentimento
negativo              0               2      1       0
positivo              2               0      2       1